<div class="clearfix"></div>
<!-- <div class="row"> -->
    <p class="h6">
        {%= contact.first_name %} {%= contact.last_name %} {% if(contact.is_primary_contact) { %}
        <span class="text-muted">({%= __("Primary") %})</span>
        {% } %} {% if(contact.designation){ %}
        <span class="text-muted">&ndash; {%= contact.designation %}</span>
        {% } %}
        <a href="#Form/Contact/{%= encodeURIComponent(contact.name) %}" class="btn btn-xs btn-default pull-right" style="margin-top:-3px; margin-right: -5px;">
            {%= __("Edit") %}</a>
    </p>
    {% if (contact.phone || contact.mobile_no || contact.email_id) { %}
    <p>
        {% if(contact.phone) { %} {%= __("Phone") %}: {%= contact.phone %}<br> {% } %}
        {% if(contact.mobile_no){ %} {%= __("Mobile No.") %}: {%= contact.mobile_no %}<br> {% } %}
        {% if(contact.email_id) { %} {%= __("Email") %}: {%= contact.email_id %} {% } %}
    </p>
    {% endif %}
<!-- </div> -->
