*.pyc
*.py~
.DS_Store
conf.py
locale
latest_updates.json
.wnf-lang-status
*.egg-info
dist/
delcomp/docs/current
*.swp
*.swo
__pycache__
*~
tags
yarn.lock
node_modules
cypress/screenshots
cypress/videos

